body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to bottom, #f0f8ff, #e6f7ff);
            text-align: center;
        }
header {
            background: #003366;
            color: white;
            padding: 20px 0;
        }
h1 {
            color: red;
            }
h2 {color: DarkMagenta;

            }
h3 {color: FireBrick;

            }
main {
            padding: 20px;
        }
footer {
            margin: 200px;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
